body{
    background-color: rgb(61, 58, 58);
    color: rgb(211, 202, 191);
}
#select1{
    width: 90%;
    color: rgb(211, 202, 191);
    background-color: rgb(61, 58, 58);
}
#select2{
    width: 70%;
    color: rgb(211, 202, 191);
    background-color: rgb(61, 58, 58);
}
h1{
    text-align: center;
}
table{
    text-align: center;
    margin: auto;
    font-size: 300%;
}